body {
    background: linear-gradient(45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
    background-size: 400% 400%;
    animation: 8s colorchange ease-in-out infinite;
}

@keyframes colorchange {
    0% {
        background-position: 0 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0 55%;
    }
}




/* section1 */
#header {
    color: rgb(0, 0, 0);
    border-radius: 1px;
    border: 1px solid transparent;
    margin: 1px;
    position: sticky;
    top: 5px;


}

pre {
    font-family: sans-serif;
    font-size: x-large;
}

.sgif {
    padding-top: 6px;
    background-color: transparent;
}


/* section2 */




body {
    font-family: sans-serif;
}



/* links to social media section */

/* footer */
/* rocket */

.top {
    position: fixed;
    bottom: 1rem;
    right: 2rem;
    display: flex;

}

#footer {
    text-align: center;
    color: rgb(154, 164, 164);
    border: rgb(187, 195, 202) solid 1px;
    background-color: black;
    width: 100%;

}